.number-box {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: blue;
    color: white;
    display: inline-block;
    margin: 5px;
    position: relative;
}

.number {
    line-height: 60px;
    font-size: 22px;
    font-weight: bold;
}

.corner-number {
    position: absolute;
    font-size: 12px;
    color: lightgray;
    right: 5px;
    top: 4px;
}

.number-box:hover {
    cursor: pointer;
    background-color: rgb(94, 94, 253);
}