.game-container {
    text-align: center;
    margin-top: 20px;
}

.boxes-container {
    width: 90%;
    min-width: 20%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inside-container {
    display: inline-block;
}

h1 {
    margin: auto;
}