.game-container {
    text-align: center;
    margin-top: 20px;
}

.boxes-container {
    width: 90%;
    min-width: 20%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inside-container {
    display: inline-block;
}

.bot-button {
    margin: auto;
    width: 100px;
    height: 40px;
    background-color: brown;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    line-height: 40px;
}

.bot-button-deactivated {
    margin: auto;
    width: 100px;
    height: 40px;
    background-color: brown;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    line-height: 40px;
}

h1 {
    margin: auto;
}