table {
    border: 1px solid #000;
    margin-top: 100px;
}

td {
    border: 1px solid #000;
    width: 50px;
    /* height: 50px; */
    text-align: center;
}

.center {
    line-height: 50px;
    background-color: aqua;
}

.container {
    margin: auto;
    width: 50vw;
    height: 100vh;
    text-align: center;
    padding: 20px;
}
